
/*05*/
/*
.root{
    -fx-background-color: black;
}
.label{
    -fx-font-size: 20;
    -fx-font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -fx-text-fill: "white";
    -fx-alignment: center;
}

#label_title
{
    -fx-font-size: 50;
}
*/

